/* 1. Posicionamiento
2. Box Model
3. Tipografía
4. Visuales
5. Otros */

:root {
    /* Colors */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    align-items: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
}

.header__title__container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
}

.header__title__container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title__container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__title__container .header__button {
    position: absolute;
    top: calc(100% - 24px);
	left: calc(50% - 115px);
    display: block;
    /* margin-top: 35px; */
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Shadow */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main__exchange__container {
    width: 100%;
    height: auto;
    padding-top: 74px;
    padding-bottom: 30px;
    text-align: center;
}

.main__exchange__container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main__exchange__container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    /* 
    background-image: url(./assets/imgs/bitcoin.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    Shorthand Use: */
    background: url('./assets/imgs/bitcoin.svg') center/cover no-repeat;
}

.main__exchange__container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main__exchange__container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main__currency__table, .main__commission__table {
    width: 80%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main__currency__table .currency__table--title, .main__commission__table .commission__table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    /* text-align: left; */
}

.main__commission__table .commission__table--title{
    color: var(--secondary-blue);
}

.currency__table--container, .commission__table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency__table--container table, .commission__table--container table {
    width: 100%;
    height: 100%;
}

.currency__table--container td, .commission__table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency__table--container .table__top--left, .commission__table--container .table__top--left {
    border-radius: 10px 0 0 0;
}

.currency__table--container .table__top--right, .commission__table--container .table__top--right {
    border-radius: 0 10px 0 0;
}

.currency__table--container .table__bottom--left, .commission__table--container .table__bottom--left {
    border-radius: 0 0 0 10px;
}

.currency__table--container .table__bottom--right, .commission__table--container .table__bottom--right {
    border-radius: 0 0 10px 0;
}

.currency__table--container .table__right, .commission__table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency__table--container .down, .commission__table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background: url('./assets/icons/trending-down.svg') center/cover no-repeat;
}

.currency__table--container .up, .commission__table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background: url('./assets/icons/trending-up.svg') center/cover no-repeat;
}

.currency__table--date, .commission__table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.commission__table--date {
    background-color: var(--soft-blue);

}

.currency__table--date p, .commission__table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}

.main__product__detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product__detail--batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: calc(0% - 12.5px);
	left: calc(50% - 20px);
    background-image: url('./assets/icons/batata.svg');
}

.product__detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.product__detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white)
}

.product__detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product__detail--card {
    width: 100%;
    min-width: 288px;
    max-width: 400;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.icon-card {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.clock {
    background-image: url('./assets/icons/clock.svg');
}

.eye {
    background-image: url('./assets/icons/eye.svg');
}

.dolar {
    background-image: url('./assets/icons/dollar-sign.svg');
}

.circle{
    background-image: url('./assets/icons/check-circle.svg');
}

.product__card__title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product__card__body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin__img__container {
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background: url('./assets/imgs/bitcoinbaby2x.jpg') center/cover no-repeat;
    text-align: center;
}

.bitcoin__img__container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}

